# BikeMaps.Org Data for Victoria, BC

# Abstract

# Introduction

# Methods

# Results

# Discussion

# Conclusion

## Data Exploration

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [26]:
collisons = pd.read_csv('/Users/marthamorrissey/Documents/STA_project_MM/Data/col.csv')

collisons.head()

,i_type,incident_with,date,p_type,details,incident_effect,injury,trip_purpose,regular_cyclist,helmet,...,bike_lights,terrain,direction,turning,age,birthmonth,sex,pk,longitude,latitude
0,Collision with moving object or vehicle,"Vehicle, angle",2014-12-04T22:30:00,collision,Cab pulled an illegal u-turn and I collided wi...,NaN,No injury,Social reason,Y,Y,...,FB,Flat,E,Heading straight,NaN,NaN,M,1090,-123.343377,48.434454
1,Collision with moving object or vehicle,"Vehicle, side",2015-07-28T10:30:00,collision,Vehicle turned left into my lane. I was unable...,NaN,"Injury, hospital emergency visit",Exercise or recreation,Y,Y,...,FB,Downhill,NW,Heading straight,1941,5,M,1427,-123.418093,48.621903
2,Collision with moving object or vehicle,"Vehicle, head on",2015-06-02T17:20:00,collision,I attended an head on accident between two mal...,NaN,"Injury, hospitalized",Exercise or recreation,NaN,NaN,...,NL,Uphill,NaN,Turning left,NaN,NaN,NaN,1510,-123.398636,48.592406
3,Collision with moving object or vehicle,Another cyclist,2015-05-06T09:00:00,collision,I was traveling south on Borden crossing McKen...,NaN,"Injury, no treatment",Commute,Y,Y,...,NL,Flat,SW,Turning right,1958,7,M,917,-123.361423,48.470311
4,Fall,Train Tracks,2015-05-30T17:30:00,collision,Riding up the hill and my wheel caught in the ...,NaN,"Injury, no treatment",Commute,Y,Y,...,NL,Uphill,I don't know,Heading straight,1955,4,F,1052,-123.475707,48.447650

In [27]:
theft = pd.read_csv('/Users/marthamorrissey/Documents/STA_project_MM/Data/theft.csv')
theft.head()

,i_type,date,p_type,details,how_locked,lock,locked_to,lighting,traffic,police_report,police_report_num,insurance_claim,insurance_claim_num,regular_cyclist,pk,longitude,latitude
0,Minor bike component,2015-06-29T19:30:00,theft,Quick release removed from back wheel - i.e. i...,Frame and tire locked,U-Lock,Good,NaN,Medium,True,T15000455,False,NaN,Y,1253,-123.386807,48.437529
1,Bike (value < $1000),2015-07-28T02:00:00,theft,Bike stolen from under the Petch Building bree...,Frame locked,Cable lock,Moderate,NaN,Very Low,True,NaN,False,NaN,Y,1421,-123.310697,48.461660
2,Minor bike component,2015-07-24T21:30:00,theft,Bike helmet stolen. It was not locked.,Frame and tire locked,Cable lock,Moderate,NaN,High,False,NaN,False,NaN,Y,1493,-123.364642,48.427851
3,Bike (value < $1000),2015-04-17T21:00:00,theft,parked at work inside locked bike cage room. D...,Not locked,NaN,Moderate,NaN,Very Low,True,NaN,False,NaN,Y,1614,-123.361670,48.426880
4,Bike (value < $1000),2015-02-03T17:30:00,theft,"This was an unfortunate situation where I ""loc...",Not locked,NaN,Good,NaN,Low,True,NaN,False,NaN,Y,1636,-123.378739,48.440147

In [34]:
#hazards = pd.read_csv('/Users/marthamorrissey/Documents/STA_project_MM/Data/hazards.csv')

In [ ]:
near_miss = pd.read_csv('/Users/marthamorrissey/Documents/STA_project_MM/Data/near_miss.csv')